<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Gold Rush Mine</h2>
</div>
<app-line-chart></app-line-chart>
<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="h4">Mine Details</h4>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">type</th>
          <th scope="col">Production Material</th>
          <th scope="col">Longitude</th>
          <th scope="col">Latitude</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let book of mines"> -->
        <td>{{mines.name}}</td>
        <td>{{mines.type}}</td>
        <td>{{mines.production_material}}</td>
        <td>{{mines.longitude}}</td>
        <td>{{mines.latitude}}</td>
        <td class="text-center">
          <!-- </tr> -->
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="h4">Contact Person Details</h4>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Email Address</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let book of contacts"> -->
        <td>{{contacts.name}}</td>
        <td>{{contacts.surname}}</td>
        <td>{{contacts.contact_number}}</td>
        <td>{{contacts.email}}</td>
        <td class="text-center">
          <!-- </tr> -->
      </tbody>
    </table>
  </div>
</div>