<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Diiamond Delve mine</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">type</th>
            <th scope="col">Production Material</th>
          
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let book of Mines"> -->
            <td>{{Mines.name}}</td>
            <td>{{Mines.type}}</td>
            <td>{{Mines.production_material}}</td>
            <td class="text-center">
          <!-- </tr> -->
        </tbody>
      </table>
    </div>
</div>
