<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Miness List</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">type</th>
            <th scope="col">Production Material</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of Mines">
            <td>{{book.name}}</td>
            <td>{{book.type}}</td>
            <td>{{book.production_material}}</td>
            <td class="text-center">
          </tr>
        </tbody>
      </table>
    </div>
  </div>