<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <div style="text-align: center;">
                <h4>Minerals</h4>
                <br>
                <div>
                    <img width ="260" height="200"src="{{'./assets/gold2.jpg'}}" class="img-circle" alt="user photo">
                </div>
                <br>
                <div>
                    <img width ="260" height="210"src="{{'./assets/silver1.webp'}}" class="img-circle" alt="user photo">
                </div>
                <br>
                <div>
                    <img width ="260" height="210" src="{{'./assets/palladium-3-big.png'}}" class="img-circle" alt="user photo">
                </div>
                <br>
                <div>
                    <img width ="260" height="210" src="{{'./assets/iron.avif'}}" class="img-circle" alt="user photo">
                </div>
                <br>
             
                <!-- <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar"> -->
            </div>
        </div>
        <div class="col-sm-9">
            <h4><small>ABOUT</small></h4>
            <hr>
            <h2>People centred mining modernization </h2>
            <p align="justify">It is imperative to prevent and minimise occurances of mining accidents, to ensure continued mineral
               supply and no job losses. For this reason, integrating modernised mining methods can significantly 
               prolong employment periods and ensure a persistent survival of a lot of households in South Africa.
               The future of modernisation aims to train and equip workers from all demographics with all necessary skills
               for genrations to come.</p>

            <div style="text-align: center;">
                <img width ="950" height ="745" src="{{'./assets/mine.jpg'}}" alt="user photo">
            </div>  
     
        </div>
      
    </div>
    <footer class="footer">
        <p>PCMM Dashboard</p>
    </footer>
</div>
